<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Should I Dodge?</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="login">
        <div class="midScreenMessage">
            <h2>Your account it Ready.<br>You may now <a href="/">return to login page</a> and log In.</h2>
        </div>
    </div>
    <footer>Created by Dolev Peleg. Please note that this website was made as a fan project and is not associated with Riot Games&copy;.</footer>
</body>
</html>